name: Sync Labels

on:
  push:
    branches:
      - main
    paths:
      - ".github/issue-labels.yml"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    permissions:
      issues: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Sync Issue Labels
        uses: EndBug/label-sync@v2
        with:
          config-file: .github/issue-labels.yml
          delete-other-labels: true
